<ul class="list-unstyled">
    {% for article in articles %}

        <li>{{ html_link(article.route('view'), article.section.category.name ~ ' > ' ~ article.section.name ~ ' > ' ~ article.title) }}</li>

    {% endfor %}
</ul>
