{% extends layout('help') %}

{% block content %}
    <div id="help">
        <div class="container">

            <h1>{{ section.title }}</h1>

            {% if section.description.value %}
                <p>{{ section.description }}</p>
            {% endif %}

            <hr>

            {% set articles = section.articles().get() %}

            {% include "anomaly.module.help::articles/partials/articles" with {"articles": articles} %}

        </div>
    </div>
{% endblock %}
