{% extends layout('help') %}

{% block content %}
    <div id="help">
        <div class="container">

            <h1>{{ section.title }}</h1>

            {% if section.description.value %}
                <p>{{ section.description }}</p>
            {% endif %}

            <hr>

            <div class="row">
                <div class="col-lg-8">

                    {% set articles = section.articles().sorted().where('enabled', true).get() %}

                    {% include "anomaly.module.help::articles/partials/articles" with {"articles": articles} %}

                </div>

                <div class="col-lg-4">
                    {% include "anomaly.module.help::sections/partials/sidebar" %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
