<aside>
    <h4>{{ trans('anomaly.module.help::message.related_articles') }}</h4>

    {% include "anomaly.module.help::articles/partials/articles" with {"articles": article.section.articles.except(article.id)} %}
</aside>
