<aside>
    <h4>{{ trans('anomaly.module.help::message.related_articles') }}</h4>

    <ul class="list-unstyled">
        {% for article in article.section.articles.except(article.id) %}
            <li>
                <a href="{{ article.route('view') }}">
                    {{ article.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</aside>
