{% extends layout('help') %}

{% block content %}
    <div id="help">
        <div class="container">

            {% set categories = entries('', 'categories').get() %}

            {% include "anomaly.module.help::categories/partials/categories" with {"categories": categories} %}

        </div>
    </div>
{% endblock %}
