{% extends layout('help') %}

{% block content %}
    <div id="help">
        <div class="container">

            <h1>{{ category.name }}</h1>

            {% if category.description.value %}
                <p>{{ category.description }}</p>
            {% endif %}

            <hr>

            {% set sections = category.sections().sorted().get() %}

            {% include "anomaly.module.help::sections/partials/sections" with {"sections": sections} %}

        </div>
    </div>
{% endblock %}
