{% extends layout('help') %}

{% block content %}
    <div id="help">
        <div class="container">

            <header class="jumbotron text-center">

                <h1>{{ trans('anomaly.module.help::message.help_center') }}</h1>

                <br>
                <br>

                <form action="{{ url_route('anomaly.module.help::articles.search') }}">
                    <input name="q" class="form-control" value="{{ request_get('q') }}" placeholder="Search...">
                </form>

            </header>

            {% set articles = entries('help', 'articles').search(request_get('q')).paginate() %}

            {% include "anomaly.module.help::articles/partials/results" with {"articles": articles} %}

            {{ articles.links|raw }}

        </div>
    </div>
{% endblock %}
