{% extends layout('help') %}

{% block content %}
    <div id="help">
        <div class="container">

            <h1>{{ article.title }}</h1>

            <hr>

            {{ article.content|raw }}

        </div>
    </div>
{% endblock %}
